
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #fcfcfc;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
  

}
html::-webkit-scrollbar-track {
  background: rgb(231, 230, 236);
}
html::-webkit-scrollbar-thumb {
  background: #ed9911;
  
}


.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}

header {
  position: fixed;
  
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff opacity;
  box-shadow: 0 1px 4px rgba(4, 4, 4, 0.33);
}
section {
  min-height: 100 h;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
  
}
.heading span {
  color: rgb(51, 11, 232);
  
}
header .logo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 7px 4px  3px rgb(72, 72, 55);
  color: rgb(1, 18, 252);
  -webkit-text-stroke:0.5px #000000;
  text-transform: lowercase;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: purple;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a:hover {
  color: #fc8c05;
  
  border-bottom: 0.2rem solid black;
  padding: 0.5rem 0;
}

#changetheme{
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;

}

#theme{
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);


}
.logo span{
  color: rgb(249, 172, 4);
  -webkit-text-stroke: 0.5px #000;
}

#menu {
  font-size: 3rem;
  cursor: pointer;
  color: #fc8c05;
  text-shadow: 0 1px 4px rgb(0, 0, 0);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a{
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fc8c05;
    scale: (1.9);
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid whitesmoke;
    border-right: 0.5rem solid whitesmoke;
    border-top: 0.5rem solid royalblue;
    border-left: 0.5rem solid royalblue;
  }
  
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  border-radius: 50%;
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  
  font-size: 5rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px black;
  background: url('https://images.unsplash.com/photo-1618497808001-1453057f3f87?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-clip: text;
  background-size: contain;
  
  background-position: 5 110;
  animation: back 60s linear infinite;


}
@keyframes back{
  50%{
    background-position: 1008px 45px;
  }
  100%{
    background-position: 2000px 0;
  }

}

.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: rgb(1, 18, 254);
  -webkit-text-stroke:0.3px #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #ffae00;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: rgb(3, 229, 241);
  transform: scale(1.2rem);
}


.socials {
  

  
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;

}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #ffff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: grey;
  color: rgb(255, 89, 0);
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
  color: white;
}
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: 6rem;
  } 
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}

.about {
  background: rgb(255, 255, 255);
  background: url('aboutbanner.jpg');
  min-height: 100vh;
  position: relative;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 3px 20px 90px rgba(0, 0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.9rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 900;
  text-shadow: 0px 2px 15px #fff;
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #ffae00;
  box-shadow: 2px 10px 15px rgba(225, 240, 11, 0.653);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn:hover {
  background: #01a4f0;
  box-shadow: none;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}

@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}



.education {
  background: url('knowledge.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.education .box-container .box:hover {
  transform: scale(1.09);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
 
  background-color: #FFFFEC;
}
.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}
.education h4 {
  font-size: 2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}


@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .education .box-container .box img {
    width: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}
.cont{
  height : 100vh;
  width: 100%;
  
  background-color: rgba(150, 190, 228, 0.605);
  display: flex;
  justify-content: center;
  align-items:center ;
}
#myform input[type="text"], #myform input[type="email"], #myform input[type="tel"], #myform textarea {
  font-size: 1.6rem; 
  text-transform:capitalize;
}
form{
  display: flex;
  background-color: #2eb2ea;
  flex-direction: column;
  margin: 0 30px;
  width: 90%;
  padding: 2vw 4vw;
  max-width: 600px;
  
  border-radius: 20px;
}
form h2{
  color: #05386B;
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 15px;
  text-align: center;
}
form h2 span{
  color: black;
}
form input,form textarea{
  border: 0;
  margin: 20px 0;
  padding: 20px;
  font-size: 1.3rem;
 
  outline: none;
  font-size: 1.02rem;
}
form button{
  padding: 13px;
  background-color: #ffae00;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.84);
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  width : 100px;
  margin: 20px auto 0;
  border-radius: 40px;
}
form button:hover{
  transform: scale(1.2);
  box-shadow: none;
}

